@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply flex items-center justify-center text-center flex-col py-20 sm:px-10 px-0 relative;

  background: rgb(2, 51, 115);
  background: linear-gradient(#023373 0%, #0e335e 100%);
}

.div_video {
  @apply w-full  mx-auto;
  max-width: 700px;
  min-width: 20%;
}

.container_video {
  position: relative;
  overflow: hidden;
  width: 100%;

  padding-top: 56.25%;
}

.responsive-iframe {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full rounded-2xl h-full;
}

.btn {
  @apply text-white  md:text-2xl text-lg  border md:mx-2 mx-0 text-center font-semibold duration-500 my-6 rounded-xl;
  background-color: #2a8067;
  width: 500px;
  height: 60px;
}

@media (max-width: 768px) {
  .btn {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 200px) {
  .btn {
    width: 100%;
    height: 150px;
  }
}

.btn:hover {
  background-color: #30bd95;

  color: #ffffff;
}

.cao {
  @apply absolute opacity-80 hidden xl:block lg:hidden md:hidden;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 15px 5px #0000009a);
  top: 50%;
  left: 10%;
}

.Beneficio {
  margin-top: -20px;
}

.beneficio-container {
  @apply sm:border border-y-2 lg:pb-14 lg:pt-7  py-6 border-blue-900 sm:rounded-md rounded-none  lg:w-1/3 w-full justify-between flex flex-col items-center duration-300;
}

.beneficio-container:hover {
  transform: scale(1.05);
}

.gato {
  @apply absolute opacity-80 hidden 2xl:block;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 10px 5px #0000009a);
  top: 90%;
  right: -10%;
}

.tabela_all {
  @apply flex px-0 sm:px-2 items-center justify-around flex-col;

  background: rgb(2, 51, 115);
  background: linear-gradient(#0e335e 0%, rgba(2, 51, 115, 1) 100%);
}
.tabela_container {
  @apply flex justify-evenly sm:gap-24 gap-2 lg:flex-row flex-col;
}
.tabela_div1 {
  @apply flex flex-col items-start mt-5 mb-16;
  width: 90%;
}
.tabela_div2 {
  @apply flex flex-col items-end mt-5 mb-16;
  width: 90%;
}

@media (min-width: 640px) {
  .tabela_div1,
  .tabela_div2 {
    width: 100%;
    align-items: center;
  }
}

.total {
  @apply rounded-lg text-white;
  background-color: #2b70c0;
}

table {
  @apply bg-slate-300;
}

td,
th {
  @apply p-2 sm:text-base text-sm text-left;
}

.Idades {
  @apply md:text-2xl md:p-6  p-2 w-full rounded-lg border font-bold sm:text-lg text-base text-center text-white;
}

.titulo_tabela {
  @apply flex sm:flex-row flex-col items-center w-full;
}

@media (min-width: 640px) {
  .Icon {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 269px) {
  .Icon {
    display: none;
  }
}

.wave {
  margin-top: -7px;
}

.sobre_img {
  @apply rounded-e-full w-11/12 h-auto lg:px-6 px-0;
}
